


@media  (min-width: 361px){

.descript{
    display: block;
}
article{
    box-shadow:0px 0px 15px rgb(100, 100, 100);

}
header nav{
    display:block;
}
.logo{
    display: block;

}
.busqueda{
    display: inline-block;
    width: 50%;
    margin-left: 18% !important;
    
}
.lupa{
}
}

@media  (min-width: 769px) { 
    .descript{
        display: block;
    }
    article{
        box-shadow:0px 0px 15px rgb(100, 100, 100);
    
    }
    header nav{
        display:block;
    }
        
    .busqueda{
        width: 60%;
        
    }

} 